@font-face {
  font-family: "rs";
  src: url("/fonts/rs.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "rs";
  src: url("/fonts/rs-bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "rs-quill";
  src: url("/fonts/rs-quill.otf") format("opentype");
  font-weight: bold;
}

:root {
  font-family: "rs";
  font-weight: normal;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --btn-radius: 4px;
}

* {
  box-sizing: border-box;
  font-family: "rs";
}

a {
  font-weight: 500;
  color: #ed9b40;
  text-decoration: inherit;
}
a:hover {
  color: #ffab4a;
  cursor: pointer;
}

dialog {
  background: #3e3529;
  border-image-source: url("/images/dialog-frame.png");
  border-image-slice: 9;
  border-image-width: 9px;
  border-image-repeat: repeat;
  border-width: 1px;
}
dialog::backdrop {
  background-color: #00000088;
}

button {
  border: 1px solid black;
  border-radius: var(--btn-radius);
  background-image: url("/images/bg-gray.png");
  background-repeat: repeat;
  background-size: auto;
  color: white;
  text-shadow: 1px 1px black;
  padding: 5px 7px;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: inset 0px 2px #ffffff20, inset 0px -2px #00000040, inset -2px 0px #00000030, inset 2px 0px #ffffff10;
}
button > span {
  font-size: 13px;
}
button.icon {
  height: 28px;
  width: 28px;
  line-height: 0;
  display: grid;
  place-items: center;
  padding: 0;
}
button:hover {
  background-image: linear-gradient(#ffffff20, #ffffff20), url("/images/bg-gray.png");
}

body {
  margin: 0;
  padding: 12px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-image: linear-gradient(#ffffff48, #ffffff49), url("/images/button-bg.png");
  overscroll-behavior: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-shadow: 1px 1px black;
  margin: 0;
}
